@import url('https://fonts.googleapis.com/css2?family=Fredericka+the+Great&family=Yellowtail&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 24px;
}
body {
  font-family: 'Fredericka the Great', cursive, serif;
  width: 100vw;
  padding: 5%;
  text-align: center;
}

.container-main {
  max-width: 90%;
  margin: 0 auto;
}

fieldset {
  border: none;
}

.btn {
  border: 1px solid black;
}

.main-buttons {
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: column;
  margin: 2% auto;
}
.add-new,
.submit-btn {
  border: 5px solid #d9d7c7;
  background-color: #d9d7c7;
  border-radius: 2%;
  transition: 0.2s;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.add-new,
.filter-btn {
  width: 100%;
  padding: 2%;
  align-content: center;
  margin: 2% auto;
  vertical-align: center;
}
.cancel-btn,
.submit-btn {
  width: 47%;
  padding: 1%;
}
.form-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.filter-btn,
.cancel-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.filter-btn {
  cursor: default !important;
}
.new-text {
  padding: 0 5%;
}

.title-section {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  background-color: #c3976a;
  border: 2px solid black;
  cursor: pointer;
  align-items: center;
  transition: 0.2s;
}
.title-section:hover {
  background-color: #918378;
}
.btn {
  cursor: pointer;
}
ul {
  list-style: none;
  border: 1px solid black;
}
a {
  text-decoration: none;
}
.trash-icon {
  padding-right: 20%;
}
.trash-icon:hover {
  color: #d9d7c7;
}
.star-icon {
  color: gold;
}

.button-rating {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 2% auto;
  align-items: center;
}

.button-delete {
  color: black;
  background-color: #c04000;
  font-weight: bold;
  padding: 2%;
  margin: 3% auto;
  text-align: center;
  width: 80%;
}

.visit-site {
  padding: 2%;
  color: white;
  background-color: #3a160e;
  width: 80%;
  cursor: pointer;
}
.visit-site:hover {
  background-color: #924a36;
}

.rating-expanded {
  border: 2px solid gold;
  background-color: gold;
  border-radius: 50%;
  padding: 2%;
  font-weight: bold;
  color: black;
  vertical-align: center;
}
.error-box {
  padding: 1%;
  width: 100%;
  margin: 2% auto;
  text-align: center;
  border: 1px solid red;
}
fieldset {
  display: flex;
  flex-direction: column;
}
.field {
  margin: 2% auto;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
legend {
  color: black;
  font-weight: bold;
  font-size: 1.4rem;
  margin-bottom: 2%;
}
label {
  font-weight: bold;
  color: black;
}

input,
textarea {
  border: 2px solid #d9d7c7;
  padding: 1%;
}

.required-span {
  color: #b00606;
  font-size: 18px;
}

.error-msg {
  color: red;
}

.main-section {
  margin-bottom: 2%;
}

.main-section p {
  text-align: left;
  padding-left: 5%;
}

/* MEDIA QUERIES */

@media only screen and (min-width: 455px) {
  .field > input:nth-child(2) {
    width: 60%;
  }

  .add-new {
    background-color: #fff;
  }
  .add-new:hover,
  .submit-btn:hover {
    background-color: #d9d7c7;
  }
  .submit-btn {
    background-color: white;
    border: 2px solid #d9d7c7;
  }
  .cancel-btn:hover {
    background-color: white;
    border: 2px solid lightgray;
  }
  .title-section {
    border: 1px solid grey;
    padding: 2% 5%;
    -webkit-box-shadow: 10px 9px 13px -5px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 9px 13px -5px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 9px 13px -5px rgba(0, 0, 0, 0.75);
  }
}

/* @media only screen and (min-width: 456px) and (max-width: 958px) {
  input {
    width: 100% !important;
  }
} */
@media and all (min-width: 959px) {
  .error-box {
    width: 70%;
  }

  .field {
    margin: 2% auto;
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media only screen and (min-width: 1025px) {
  .hidden-large {
    display: none !important;
  }
}
